.pagination-container {
    display: flex;
    justify-content: center;
}

.pagination-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 1em;
}

.pagination-number {
  
    list-style: none;
    width: auto;
    margin:.5em 1px;
    padding: 5px;
    background: rgb(21, 184, 21);;
    font-weight: bold;
    border-radius: .2em;
}

.pagination-number:hover {
    transform: scale(1.2);
    margin: .5em .5em;
}

a {
    text-decoration: none;    
    
}
a:link {
    color: black;
    
}

a:visited {
    color:white;
    background-color: rgb(21, 184, 21, .4); ;
  }

  

