.form-page {
    margin: 2em 0;

}

.form-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.field {
    margin-right: 12px;
    position: relative;
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 5px;
}

.field input {
    border: 2px solid #ddd;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    outline: none;
    font-size: 14px;
    transition: border-color 0.3s ease;
  }

  .field .placeholder {
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: #aaa;
    transition: 
      top 0.3s ease,
      color 0.3s ease,
      font-size 0.3s ease;
  }


.field input + .placeholder {
    left: 8px;
    padding: 0 5px;
  }

  .field input:valid,
  .field input:focus {
    border-color: #222;
    transition-delay: 0.1s
  }
  
  .field input:valid + .placeholder,
  .field input:focus + .placeholder {
    top: 20px;
    font-size: 10px;
    color: #222;
    background: #fff;
  }

button {
    padding: 10px 20px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color:rgb(21, 184, 21);
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px  rgb(21, 184, 21, .6);
}

button:hover {
    
    background-color: #3176f8;
}

button:active {

  box-shadow: 0 0px rgb(65, 64, 64);
  transform: translateY(4px);
}